<h1>Sign Up!</h1>
  <%= form_for @user do |f| %>
      <strong>First Name: </strong> <%= f.text_field :first_name %> <br>
      <strong>Last Name:</strong> <%= f.text_field :last_name%> <br>
      <strong>Email: </strong> <%= f.text_field :email%> <br>
      <strong>Password: </strong> <%= f.password_field :password%> <br>
  <%= f.submit "Sign Up!"%>
<% end %>
