<h1>Other User</h1>
  <div class="aside-container col-md-2 col-md-offset-1">
    <aside>
      <%= image_tag('user_profile_img.png', :class => 'profile-picture') %>
      <%= @user.name %><br>
      Current City: <%= @user.city %><br>
      Joined: <%= @user.created_at.getlocal %>
    </aside>
  </div>
  <div class="container col-md-8">
    <% if !@user.posts.empty?%>
      <h4> Posts: </h4>
      <% @user.posts.each do |ele|  %>
        <h5><%=ele.title%></h5>
        <p><%=ele.content%></p>
        <p><%=ele.city%></p>
      <% end %>
    <%else%>
      <h4>No Posts Yet</h4>
    <%end%>
  </div>
