<div class="row">
  <div class="user-container col-md-3">
    <div>
      <%= image_tag(@user.avatar.url, :class => 'profile-picture') %>
    </div>
    <div>
      <p><%= @user.name %><br>
      Current City: <%= @user.city %><br>
      Joined: <%= @user.created_at.getlocal.to_date %></p>
    </div>
  </div>
  <div class="posts-container col-md-8">
    <% if !@user.posts.empty? %>
      <h4> Posts: </h4>
      <% @cities.each do |city|  %>
        <p><%= @user.posts.where({city: "#{city}"}).count %> in <%= link_to city, city_path(city) %></p>
      <% end %>
    <% else %>
      <h4>No Posts Yet</h4>
    <% end %>
  </div>
</div>
