<div class="container">
  <div class="new-post .col-md-6 .col-md-offset-3">
    <p>New Post</p>
    <%= form_for @post, url:"/posts" do |f| %>
      <span>Title: </span>
      <%= f.text_field :title %><br>
      <span>Content: </span>
      <%= f.text_field :content %><br>
      <% if $current_city %>
        <%= f.hidden_field :city, :value => $current_city %>
      <%else%>
        <span>City:</span>
        <%= f.text_field :city %><br>
      <%end%>
      <%= f.hidden_field :user_id, :value => @user_id %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
