<div class="content-container .col-md-6 .col-md-offset-3">
  <h4> Posts: </h4>
    <h5><%= @post.title %></h5>
    <p><%= @post.city %></p>
    <p><%= @post.content %></p>

    <h5>Comments</h5>

    <%@post.comments.each do |comment|%>
      <p><span><%= comment.user.name%>: </span><%=comment.content%></p>
    <%end%>

    <% if current_user %>
      <%= form_for @comment, url: '/comments' do |f| %>
        <p><%= f.text_area :content %></p>
        <%= f.hidden_field :user_id, :value => session[:user_id] %>
        <%= f.hidden_field :post_id, :value => @post.id %>
        <%= f.submit %>
      <% end %>
    <% end %>
</div>
