<h4> Posts: </h4>
  <h5><%=@post.title%></h5>
  <p><%=@post.city%></p>
  <p><%=@post.content%></p>
<%=button_to "Update Post", "/posts/#{@post.id}/edit", {method: :get} %> <br>
<%= button_to 'Delete', post_path, :method => :delete, data: {confirm: 'Are you sure?'} %>
