<h1><%= params[:name] %></h1>
<%= image_tag(params[:name]+'.jpg', :class => 'iconic-picture') %>
<%= link_to 'New Post', newpost_path %>
<% @city.each do |city| %>
  <p><%= link_to city.title,  post_path(city.id)%></p>
  <p><%= city.content %></p>
<% end %>
