<!DOCTYPE html>
<html>
  <head>
    <title>ProjectWanderlust</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <%= link_to('Wanderlust', '/', class: 'navbar-brand') %>
      <% if current_user %>
        <%= link_to("Logout", '/logout', :method => :get, class: 'btn btn-success navbar-right nav-btn') %> <%= link_to('Signed in as ' +current_user.name, '/profile', :method => :get, class: 'btn btn-success navbar-right nav-btn') %>
      <% else %>
        <%= button_to('Signup', '/signup', :method => :get, class: 'btn btn-success navbar-right nav-btn') %> <%= button_to('Login', '/login', :method => :get, class: 'btn btn-success navbar-right nav-btn') %>
      <% end %>
    </nav>

    <div class="jumbotron clearfix">
      <div class="container">
      <% flash.each do |name, msg| %>
        <div class="error-message">! <%= msg %> !</div>
      <% end %>

      <%= yield %>
      </div>
    </div>

  </body>
</html>
